@page
@model TrainStation.Pages.Tickets.IndexModel

@{
    ViewData["Title"] = "Journeys' list";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Pick your journey</h1>

<table class="table">
    <thead>
    <tr>
         <th>
             @Html.DisplayNameFor(model => model.Journey[0].StartingDateTime)
         </th>       
        <th>
            @Html.DisplayNameFor(model => model.Journey[0].StartingPlace)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Journey[0].DestinationPlace)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Journey[0].Status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Journey[0].FullTimeRide)
        </th>
    </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Journey) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.StartingDateTime)
            </td>
             <td>
                 @Html.DisplayFor(modelItem => item.StartingPlace.Name)
             </td>           
            <td>
                @Html.DisplayFor(modelItem => item.DestinationPlace.Name)
            </td>         
             <td>
                 @Html.DisplayFor(modelItem => item.Status.Name)
             </td>
            <td>
                @Html.DisplayFor(modelItem => item.FullTimeRide.Hours)h
                @Html.DisplayFor(modelItem => item.FullTimeRide.Minutes)min
            </td>
            <td>
                <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                <a asp-page="./Tickets" asp-route-id="@item.ID">Buy a ticket</a> 
            </td>
        </tr>
}
    </tbody>
</table>