@page "{id?}"
@using TrainStation.Models
@model TrainStation.Pages.Tickets.Tickets

@{
    ViewData["Title"] = "Buing ticket";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Buy ticket</h1>

<h4>Ticket No. @Model.Ticket.ID</h4>
<hr />
<div class="row">
    <div class="col-12">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Journey.StartingDateTime)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Journey.StartingDateTime)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Journey.StartingPlace)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Journey.StartingPlace.Name)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Journey.DestinationPlace)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Journey.DestinationPlace.Name)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Journey.Ride.Cars)
            </dt>
            <dd class="col-sm-10">
                <ul>
                    
                    @foreach (TempCar c in Model.ListTempCars)
                    {
                        <li>
                            @Html.DisplayFor(model => c.Name) 
                            (Available sitting places: @Html.DisplayFor(model => c.LeftSitting)
                            / Available standing places: @Html.DisplayFor(model => c.LeftStanding))
                        </li>
                    }
                </ul>
            </dd>
            <div class="form-group">
                <label class="control-label">Pick a car:</label>
                <select asp-for="Ticket.CarID" class="form-control" asp-items="Model.ListJourneyCars"></select>
            </div>
            <div class="form-group">
                <label asp-for="Ticket.TypeOfTicket" class="control-label"></label>
                <select asp-for="Ticket.TypeOfTicketID" class="form-control" asp-items="Model.ListTypesOfTickets"></select>
            </div>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Journey.TicketBasePrice)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Journey.TicketBasePrice)
            </dd> 
            <div class="form-group">
                <input type="submit" value="Buy" class="btn btn-primary"/>
            </div>
        </form>
               
    </div>
</div>
<div>
    <a asp-page="./Index">Back to List</a>
</div>