@page
@using TrainStation.Models
@model TrainStation.Pages.Ride.DetailsModel

@{
    ViewData["Title"] = "Ride Details";
}

<h1 xmlns="http://www.w3.org/1999/html">Details</h1>

<div>
    <h4>Ride @Html.DisplayFor(model => model.Ride.ID)</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Ride.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Ride.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Ride.Driver)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Ride.Driver.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Ride.Engine)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Ride.Engine.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Ride.Conductors)
        </dt>
        <dd class="col-sm-10">
            <ul>
                @foreach (Conductor c in Model.Ride.Conductors)
                {
                    <li>
                        @Html.DisplayFor(model => c.ConductorEmployee.Name)
                    </li>
                }
            </ul>
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Ride.Cars)
        </dt>
        <dd class="col-sm-10">
            <ul>
                @foreach (Cars c in Model.Ride.Cars)
                {
                    <li>
                        @Html.DisplayFor(model => c.Car.Name)
                    </li>
                }
            </ul>
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Ride.ID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
